.vs/
bin/
*.user
*.suo
*.vscode/
obj/
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache
App_Data/

# Ignore user-specific project files
*.csproj.user
myPomodoro/WebApplication1/Properties/PublishProfiles/
myPomodoro/WebApplication1/Properties/ServiceDependencies/

myPomodoro/WebApplication1/appsettings.Development.json
