.vs/
bin/
*.user
*.suo
*.vscode/
obj/
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache
App_Data/

# Ignore user-specific project files
*.csproj.user

# Ignore publish profile and service dependency directories
Properties/PublishProfiles/
Properties/ServiceDependencies/
